@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #151615;
  --foreground: #e4e4e4;
  --chat-background: #151615;
  --character-name-color: #e4e4e4;
  --character-message-color: #cdcdcd;
  --user-message-color: #cdcdcd;
  --disclaimer-color: #656565;
  --input-placeholder-color: #818180;
  --character-image-bg: #393a39;
  --user-bubble-bg: #242524;
  --input-bg: #2d2d2d;
  --send-button-bg: #3a9e49;
  --config-button-border: #414141;
  --button-icon-color: #d3d3d3;
  --bold-text-opacity: 0.8;
  
  /* Spacing scale */
  --spacing-xs: 2px;
  --spacing-sm: 13px;
  --spacing-md: 15px;
  --spacing-lg: 30px;
  --spacing-xl: 45px;
  --spacing-xxl: 531px;
  
  /* Typography */
  --font-primary: "Inter", sans-serif;
  --font-size-sm: 12px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --letter-spacing-sm: -0.24px;
 --letter-spacing-md: -0.32px;
  --letter-spacing-lg: -0.4px;
  
  /* Border properties */
  --border-radius-sm: 8px;
  --border-radius-md: 15px;
  --border-width: 0.5px;
  
  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151615;
    --foreground: #e4e4e4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
}
textarea{
  outline: none;
  resize: none;
}
button{
  cursor: pointer;
}
input:focus{
  outline: 1px solid var(--send-button-bg);
}